.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  text-align: center;
  color: #dbe2e6; /* Steam's text color */
  background-color: #171a21; /* Steam's background color */
}

.header {
  color: #66c0f4;
  margin-bottom: 20px;
  font-size: 2.5em;
}

.paragraph {
  max-width: 600px;
  margin-bottom: 20px;
  line-height: 1.5;
  text-align: center;
  padding: 0 20px;
  color: #c6d4df;
}

@media (max-width: 768px) {
  .header {
    font-size: 1.5em;
  }

  .paragraph {
    padding: 0 10px;
    font-size: 0.9em;
  }
}
