.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  justify-content: space-evenly;
  min-height: 90vh;
  overflow: hidden;
  margin: auto;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  height: auto;
  overflow: auto;
}

.box {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.2%;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0.5%;
  font-size: 1vw;
  overflow: hidden;
}

.undoContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1% 0;
  height: 5%;
}

@media (min-width: 768px) {
  .box {
    font-size: 0.8vw; /* Adjust font size for larger screens */
  }
}

.secondRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.image.box,
.rec.box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5%;
}

@media (max-width: 768px) {
  .secondRow {
    flex-direction: column;
  }
}

.finalPage {
  width: 100%;
  max-width: 1200px;
  padding: 1%;
  box-sizing: border-box;
  overflow: hidden;
}

.tag.box,
.genre.box {
  flex-direction: column;
  flex-wrap: wrap;
}

button,
h1,
h2,
p {
  font-size: 1vw;
  margin: 2px;
}

button.undoButton {
  color: red;
}
