[submodule "dataset/data_files"]
	path = dataset/data_files
	url = https://huggingface.co/datasets/steamgamerecommender/data_files
[submodule "models/published_recommendation_models"]
	path = models/published_recommendation_models
	url = https://huggingface.co/steamgamerecommender/published_recommendation_models
