.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  text-align: center;
  color: #66c0f4; /* Steam's text color */
  background-color: #171a21; /* Steam's background color */
}

.upperContainer,
.middleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.lowerContainer,
.submitContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.centerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.modelContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.leftContainer,
.rightContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 1em;
}

.leftContainer {
  margin-right: 0.5em; /* Space between left and right containers */
}

.rightContainer {
  margin-left: 0.5em; /* Space between left and right containers */
  align-items: center;
}

.modelButton {
  margin-bottom: 0.5em; /* Space between buttons */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .container,
  .upperContainer,
  .middleContainer,
  .lowerContainer,
  .submitContainer,
  .centerContainer,
  .modelContainer,
  .leftContainer,
  .rightContainer {
    flex-direction: column;
    padding: 0.5em;
  }

  .leftContainer,
  .rightContainer {
    margin: 0; /* Adjust margins for smaller screens */
  }
}
